<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>


<session-factory>

<!-- Database connection settings -->


<property name="connection.driver_class">com.mysql.jdbc.Driver</property>

<property name="connection.url">jdbc:mysql://localhost/student444</property>

<property name="connection.username">root</property>

<property name="connection.password"/>

<property name="current_session_context_class">thread</property>

<property name="hibernate.current_session_context_class">thread</property>
<!-- <property name="hibernate.transaction.factory_class">org.hibernate.transaction.CMTTransactionFactory</property>
<property name="hibernate.transaction.manager_lookup_class">org.apache.openejb.hibernate.TransactionManagerLookup</property>
<property name="transactionSynchronizationRegistryName">java:comp/env/TransactionSynchronizationRegistry</property>
 -->
<!-- JDBC connection pool (use the built-in) -->


<property name="connection.pool_size">10</property>

<!-- SQL dialect -->


<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

<!-- Echo all executed SQL to stdout -->


<property name="show_sql">true</property>

<!-- Drop and re-create the database schema on startup -->


<property name="hbm2ddl.auto">update</property>

<!-- Names the annotated entity class -->

<mapping class="vo.Employees"/>
<mapping class="vo.register"/>
<mapping class="vo.CurrencyVO"/>
<mapping class="vo.AddWorkshiftVO"/>
<mapping class="vo.AddNationalityVO"/>
<mapping class="vo.AddpaygradeVO"/>
<mapping class="vo.AddJobtitleVO"/>
<mapping class="vo.AttachmentVO"/>

<mapping class="vo.AssignLeavetoEmployeeVO"/>

<mapping class="vo.LeaveStatusVO"/>
<mapping class="vo.LeaveEntitlementVO"/>
<mapping class="vo.AddLeaveTypeVO"/>
 
<mapping resource="vo/AddNationalityVO.hbm.xml"/>
<mapping resource="vo/Regdetails.hbm.xml"/>

</session-factory>

</hibernate-configuration>